# MongoDB
MONGO_URI=

# JWT access token
JWT_SECRET=
JWT_EXPIRES_IN=

# JWT refresh token
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Server port
PORT=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=